@{
    ViewData["Title"] = "Index";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
<body>
    <div id="first-div" class="first">
        <form>
            <h1>Construindo elementos</h1>
        </form>

    </div>
</body>