@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Varias queixas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="divBusca">
  <input type="text" id="txtBusca" placeholder="Buscar..."/>
 <!-- <img src="https://arquivo.devmedia.com.br/naoexclusivo/JoelRodrigues/desenvolvendo-layouts-para-caixas-de-pesquisa-em-paginas-web/CaixasBusca2.jpg" id="btnBusca" alt="Buscar"/> -->
</div>