@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1 id="title">Cine</h1>

<p>
    <a id ="parag" asp-action="Create">Solictar filme</a>
</p>

@foreach (var item in Model) {
    <div class="container-movie">
        <a asp-action="Details" asp-route-id="@item.Id">
            <img src="@item.Cover" />
            @Html.DisplayFor(modelItem => item.Title)
        </a>
    </div>
}


<Style>
    #title{
        color: ;
    }
    #parag{

    }
</Style>