@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<body>  
    <h1>Cine</h1>
    <a asp-action="Create">Solicitar filme</a>

    <div class="movies-container">
        @foreach (var item in Model) {
            <div class="movie-box">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="movie">
                        <h5>@Html.DisplayFor(modelItem => item.Title)</h5>  
                        <img class="cover" src="@item.Cover"/>
                    </div>
                </a>
            </div>
        }
    </div>
</body>

<Style>
    body {
        background-color: #1f1e1e;
        padding: 30px;
        width: 100%;
    }
    p, h1, a, h5 {
        color: white;
        text-decoration: none;
    }
    .movies-container {
        display: flex;
        text-align: center;
        margin-left: -20px;
    }
    .movie-box {
        border: solid 3px white;
        border-radius: 10px;
        margin: 20px;
    }
    .movie {
        padding: 15px;
        cursor: pointer;
    }
    .cover {
        width: 200px;
        height: 300px;
    }
    #detalhe{
        width: 10%;
        height: 10%;
        padding: 5%;
    }

</Style>